@import "tailwindcss";

/* Preline UI */
@import "../node_modules/preline/variants.css";


:root { 
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}